<div class="panel-group" id="generalAccordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="generalHeadingShipping">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#generalAccordion" href="#generalShippingCollapse" aria-expanded="true" aria-controls="generalShippingCollapse">
                    Shipping
                </a>
            </h4>
        </div>
        <div id="generalShippingCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="generalHeadingShipping">
            <div class="panel-body" id="shipping"></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="generalHeadingBilling">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#generalAccordion" href="#generalBillingCollapse" aria-expanded="false" aria-controls="generalBillingCollapse">
                    Biling
                </a>
            </h4>
        </div>
        <div id="generalBillingCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="generalHeadingBilling">
            <div class="panel-body" id="billing"></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="generalHeadingHome">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#generalAccordion" href="#generalHomeCollapse" aria-expanded="false" aria-controls="generalHomeCollapse">
                    Home
                </a>
            </h4>
        </div>
        <div id="generalHomeCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="generalHeadingHome">
            <div class="panel-body" id="home"></div>
        </div>
    </div>
</div>