<div class="panel-group" id="ordersAccordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="ordersHeadingShipping">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#ordersAccordion" href="#ordersShippingCollapse" aria-expanded="true" aria-controls="ordersShippingCollapse">
                    Shipping
                </a>
            </h4>
        </div>
        <div id="ordersShippingCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="ordersHeadingShipping">
            <div class="panel-body" id="shipping"></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="ordersHeadingBilling">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#ordersAccordion" href="#ordersBillingCollapse" aria-expanded="false" aria-controls="ordersBillingCollapse">
                    Biling
                </a>
            </h4>
        </div>
        <div id="ordersBillingCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ordersHeadingBilling">
            <div class="panel-body" id="billing"></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="ordersHeadingHome">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#ordersAccordion" href="#ordersHomeCollapse" aria-expanded="false" aria-controls="ordersHomeCollapse">
                    Home
                </a>
            </h4>
        </div>
        <div id="ordersHomeCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ordersHeadingHome">
            <div class="panel-body" id="home"></div>
        </div>
    </div>
</div>