<div class="col-md-10 panel panel-default">
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" data-target="#general">General</a></li>
            <li><a data-toggle="tab" data-target="#addresses">Addresses</a></li>
            <li><a data-toggle="tab" data-target="#orders">Orders</a></li>
        </ul>
        <div class="tab-content">
            <div id="general" class="tab-pane fade in active"></div>
            <div id="addresses" class="tab-pane fade"></div>
            <div id="orders" class="tab-pane fade"></div>
        </div>
    </div>
</div>

