<div class="panel-group" id="addressesAccordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="addressesHeadingShipping">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#addressesAccordion" href="#addressesShippingCollapse" aria-expanded="true" aria-controls="addressesShippingCollapse">
                    Shipping
                </a>
            </h4>
        </div>
        <div id="addressesShippingCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="addressesHeadingShipping">
            <div class="panel-body" id="shipping"></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="addressesHeadingBilling">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#addressesAccordion" href="#addressesBillingCollapse" aria-expanded="false" aria-controls="addressesBillingCollapse">
                    Biling
                </a>
            </h4>
        </div>
        <div id="addressesBillingCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="addressesHeadingBilling">
            <div class="panel-body" id="billing"></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="addressesHeadingHome">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#addressesAccordion" href="#addressesHomeCollapse" aria-expanded="false" aria-controls="addressesHomeCollapse">
                    Home
                </a>
            </h4>
        </div>
        <div id="addressesHomeCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="addressesHeadingHome">
            <div class="panel-body" id="home"></div>
        </div>
    </div>
</div>